<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><p>{{ site.description }}</p></li>
          
        </ul>
      </div>

      <div class="footer-col footer-wide">
        <h4>Want to contact me ?</h4>
        <ul class="social-media-list">
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>          
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          
        </ul>
      </div>
    </div>

  </div>

</footer>
